.applerate{
display:inline-block;		
}

.beerrate{
display:inline-block;		
}

.waterrate{
display:inline-block;		
}

.cheeserate{
display:inline-block;		
}

b{
display:inline-block;	
}

h4{
display:inline-block;	
}