.applerate{
display:inline-block;		
}

.beerrate{
display:inline-block;		
}

.waterrate{
display:inline-block;		
}

.cheeserate{
display:inline-block;		
}

b{
display:inline-block;	
}

h4{
display:inline-block;	
}
body {
        /*font-family: 'Open Sans', Roboto-Black, Graublau Sans Web, EuroSansProLig, Arial, sans-serif;*/
	font-family: 'Roboto-Medium';
        padding: 5px;
        background:#CCCCFF;
}